/* control font attributes here */
:root {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: black;
/* use a 60-30-10 rule with color scheme */
--colorA: #364483;
--colorB: #1A253D;
--colorC: #C77A3D;
--colorD: #2664BE;
}

a, a:hover {
    color: inherit;
    text-decoration: none;   
}

ul, li {
    list-style: none;
    color: inherit;
}

.lg-text {
    font-size: 2em;
}

i.instagram-icon {
        color: #fac71e ;
}
body {
    background-color: var(--colorB);
    color: var(--colorD);
}
#mainContainer {
}
#navList {
}
#nameCard {
}
#jsList {
    /* background-color: var(--colorB); */
    color: var(--colorD);

}

ul#navList li {
    background-color: var(--colorB);
    color: var(--colorD);
}
ul#navList li:hover {
    /* background-color: var(--colorD); */
    color: var(--colorC);
}

@media (min-width: 768px) {
    #titleDiv {
        position: fixed;
    }
    #contentDiv {
        position:  absolute;
        right: 0;
    }
    /* .text-size {
        font-size: 1.33em;
    } */
}