/* control font attributes here */
:root {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: black;
}

#navList {
    /* visibility:hidden; */
    display: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.lg-text {
    font-size: 2em;
}

i.instagram-icon {
        color: #fac71e ;
}


@media (min-width: 768px) {
    .text-size {
        font-size: 1.5em;
    }
    #titleDiv {
        position: fixed;
    }
    #navList {
        /* display: block; */
    }
    #contentDiv {
        right: 0%;
    }
}