@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap");

:root {
	box-sizing: border-box;
	font-size: 12px;
	--font-main: "Bebas Neue", cursive;
	--font-paragraph: Arial, Helvetica, sans-serif;
	/* --font-paragraph: "Syne Mono", monospace; */

	--font-color-main: rgb(255, 255, 255);
	--font-color-menu: rgb(0, 0, 0);
	--font-color-price: #a9fd02;
	--accent-color-main: rgb(101, 82, 0);
	--bkgd-color-main: rgba(0, 0, 0, 1);

	--font-size-nav: 2rem;
	--font-size-paragraph: 1.25rem;
	--font-size-h1: 3.75rem;
	--font-size-city: 4rem;
	--font-size-title: 7rem;
	--font-size-description: 1.4rem;

	--font-shadow-nav: 3px 2px 10px rgb(0, 0, 0), -3px 2px 10px rgb(0, 0, 0);
	--font-shadow-title: 3px 4px 15px rgb(0, 0, 0), -3px 4px 15px rgb(0, 0, 0);
	--font-shadow-city: 3px 3px 10px rgb(0, 0, 0), -3px 3px 10px rgb(0, 0, 0);
	--font-shadow-logo: 3px 3px 10px rgb(255, 220, 103),
		-3px 3px 10px rgb(255, 220, 103);
	--font-shadow-h1: 3px 15px 15px rgba(238, 255, 153, 0.5),
		-1px 1px rgb(244, 191, 0);
	--box-shadow: rgba(255, 220, 103, 0.5);
	--box-shadow-close: 0px 5px 5px 2px rgba(0, 0, 0, 0.75);
}

html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
}

.navbar {
	font-size: 16px;
}

ul {
	list-style: none;
	/* display: flex; */
}

a {
	color: inherit;
	text-decoration: none;
}

p {
	font-family: var(--font-paragraph);
}

.site-inner-wrapper {
	display: block;
	position: relative;
	z-index: 1;
	min-height: 100vh;
	font-family: "Trebuchet MS", sans-serif;
	color: var(--font-color-main);
}

h1 {
	font-family: var(--font-main);
	font-size: var(--font-size-h1);
	color: var(--accent-color-main);
	text-shadow: var(--font-shadow-h1);
	margin: 0;
}

h2 {
	margin: 0;
}

.full-nav-wrapper {
	display: flex;
	position: absolute;
	width: 100%;
	padding: 1rem 0 2rem 0;
	background-color: rgba(0, 0, 0, 0);
	justify-content: space-between;
}

.title-container {
	font-family: var(--font-main);
}

.title-nav {
	padding: 1rem 4rem;
}

.main-nav {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	background-color: rgba(0, 0, 0, 0);
	font-family: var(--font-main);
}

.page-title {
	font-size: var(--font-size-title);
	letter-spacing: 5px;
	text-shadow: var(--font-shadow-title);
}

.page-city {
	font-size: var(--font-size-city);
	text-shadow: var(--font-shadow-city);
	letter-spacing: 3px;
}

.logo {
	box-shadow: var(--font-shadow-title);
	border-radius: 50%;
}

.logo:hover {
	box-shadow: var(--font-shadow-logo);
	border-radius: 50%;
}

.page-nav-item {
	font-size: var(--font-size-nav);
	text-shadow: var(--font-shadow-nav);
	letter-spacing: 1px;
	/* margin: 0 10px; */
	padding: 5px 10px;
	cursor: pointer;
}

.nav-item:hover {
	color: var(--accent-color-main);
	cursor: pointer;
}

.img-overlay {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: var(--font-size-paragraph);
	text-align: justify;
	letter-spacing: 2px;
	z-index: 9;
	padding: 58px;
}

.companyText {
	width: 85%;
}

.sectionTitle {
	text-align: center;
}

.phoneNumber {
	font-size: var(--font-size-paragraph);
	font-family: var(--font-paragraph);
	margin: 10px;
	text-align: center;
}

.phoneNumber:hover {
	color: var(--accent-color-main);
	font-size: 1.2em;
}

.menuButton {
	background-color: rgb(60, 60, 60);
	margin: 20px;
	/* padding: 10px; */
	cursor: pointer;
}

.menuButton:hover {
	background-color: rgb(40, 40, 40);
}

.pillButton {
	border: 2px solid var(--font-color-main);
	border-radius: 40px;
	margin-top: 20px;
	padding: 20px;
	cursor: pointer;
}

.pillButton:hover {
	background-color: var(--font-color-main);
	color: black;
}

.buttonTransition {
	transition: ease-in-out 0.75s;
}

.parallax-container {
	background-color: black;
}

.parallax-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	height: 100vh;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.productsContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.productItem {
	display: flex;
	padding: 10px;
	margin: 0.5rem;
	border: 1px solid white;
}

.productImage {
	display: flex;
	flex-direction: column;
	margin: 1rem 1rem;
	align-items: center;
}

.productImage img {
	border: 4px solid black;
}

.productImage img:hover {
	border: 4px solid var(--accent-color-main);
}

.productCont {
	display: flex;
	flex-direction: column;
	margin: 10px;
	align-items: center;
}

.productCont h2,
figcaption {
	color: var(--accent-color-main);
}

.productText {
	margin: 0.5rem;
}

.image1 {
	background-image: url("images/pub_chat_a.png");
}

.image2 {
	background-image: url("images/pints_a.svg");
}

.image3 {
	background-image: url("images/brewery_tanks.png");
}

.image4 {
	background-image: url("images/pub_food.svg");
}

.image5 {
	background-image: url("images/pub_food.jpeg");
}

.menu {
	/* padding: .5rem 0; */
	box-sizing: content-box;
	top: 1rem;
	visibility: hidden;
	background-color: var(--accent-color-main);
	border: 1px solid var(--font-color-main);
	box-shadow: var(--font-shadow-h1);
	border-radius: 0.5rem;
	height: 80vh;
	width: 90%;
	overflow-y: scroll;
	/* overflow-x: hidden; */
	font-size: var(--font-size-h1);
	font-family: var(--font-paragraph);
	color: var(--font-color-main);
	text-shadow: var(--font-shadow-h1);
}

.closeBtn {
	/* background-color: var(--font-color-price);
  border: 1px solid var(--bkgd-color-main); */
	border-radius: 0.5rem;
	/* box-shadow: var(--box-shadow-close); */
	font-size: var(--font-size-paragraph);
	margin-top: 0.5em;
	/* max-width: fit-content; */
	/* max-height: fit-content; */
}

.closeBtn:hover {
	cursor: pointer;
	color: var(--font-color-menu);
}

.menuItems {
	display: flex;
	flex-direction: column;
	/* max-width: fit-content; */
	justify-content: center;
	align-items: center;
}

.menuImg {
	margin-top: 0.75rem;
}

.menuItem {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: var(--font-size-paragraph);
	margin-bottom: 3.5rem;
	border-radius: 0.5rem;
	outline: 8px ridge rgba(255, 255, 255, 0.35);
	width: 90%;
}

.itemDesc {
	color: var(--font-color-main);
	margin: 0.5em;
	padding: 1rem;
	/* width: 80%; */
}

.itemName {
	color: var(--font-color-main);
	margin-top: 0.5rem;
	font-size: 1.5rem;
}

.itemPrice {
	color: var(--font-color-price);
}

.visible {
	visibility: visible;
}

footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 1rem;
	background-color: var(--bkgd-color-main);
	font-size: var(--font-size-nav);
	font-family: var(--font-paragraph);
}

footer:hover {
	color: var(--accent-color-main);
	cursor: pointer;
}

.toTopBtn {
	position: fixed;
	display: flex;
	flex-direction: column;
	bottom: 0rem;
	right: 0rem;
	margin: 3rem;
	padding: 0.5rem;
	text-align: center;
	font-family: var(--font-paragraph);
	border-radius: 0.5em;
	border: 2px solid var(--font-color-main);
	background-color: var(--bkgd-color-main);
}

.toTopBtn:hover {
	border: 2px solid var(--accent-color-main);
	color: var(--accent-color-main);
}
@media only screen and (min-width: 900px) {
	/* width */
	::-webkit-scrollbar {
		width: 1rem;
	}

	/* Track */
	::-webkit-scrollbar-track {
		background: var(--accent-color-main);
		border-radius: 1rem;
	}

	/* Handle */
	::-webkit-scrollbar-thumb {
		background: white;
		border-radius: 2rem;
		border: 1px solid black;
	}

	/* Handle on hover */
	::-webkit-scrollbar-thumb:hover {
		background: var(--bkgd-color-main);
	}
}
@media (max-width: 700px) {
	.itemDesc {
		/* font-size: .75em !important; */
	}

	.closeBtn {
		font-size: 0.75em !important;
	}

	.menu {
		width: 90%;
	}

	#menuItems {
		max-width: 95vw;
	}
	.companyText {
		/* font-size: .75em; */
	}
	.productsContainer {
		width: 120%;
	}

	.productText {
		font-size: 0.75em;
		margin: 0.25em;
	}
	.sectionTitle {
		margin-bottom: 1.5rem;
	}
	.productItem {
		flex-direction: column;
	}
}

@media (max-width: 426px) {
	.page-title {
		font-size: 5em;
	}
	.page-city {
		font-size: 2.5em;
	}
	.itemDesc {
		/* font-size: 1em !important; */
	}

	.closeBtn {
		font-size: 0.5em !important;
	}

	.companyText {
		width: 110%;
		/* font-size: .5em; */
	}

	.productCont {
		margin: 5px;
	}
	.productText {
		margin: 0.25em;
	}

	.productItem {
		flex-direction: column;
	}

	.main-nav {
		/* flex-direction: column; */
		display: none;
	}
}
