:root {
	font-family: Arial, Helvetica, sans-serif;
	--bg-main-light: rgb(109, 109, 131);
	--bg-main-dark: rgb(83, 83, 124);
	--bg-main-blue: rgb(90, 233, 243);
	--font-color-light: rgb(255, 255, 255);
	--font-color-dark: rgb(145, 145, 145);
}

.bg-main-blue {
	background-color: var(--bg-main-blue);
}

.bg-main-light {
	background-color: var(--bg-main-light);
	color: var(--font-color-dark);
}
.bg-main-dark {
	background-color: var(--bg-main-dark);
	color: var(--font-color-light);
}
.bg-main-light:focus {
	background-color: var(--bg-main-light);
	color: var(--font-color-dark);
}

i.fa-cloud-sun-rain {
	font-size: 1.5rem;
}

input,
input:focus {
	background-color: var(--bg-main-light);
	color: var(--font-color-light);
}
::placeholder {
	color: var(--font-color-light);
}
::-ms-input-placeholder {
	color: var(--font-color-light);
}

.canvas {
	color: white;
}
